# dependencies
node_modules
.npm

# production
build
leon-cli.tar.gz

# testing
coverage

# debug
npm-debug.log*

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
.DS_Store
tmp
temp
logs/errors.log
config/config.json
