name: 'Build'

on:
  push:
    branches: [develop]
  pull_request:
    branches: [master, develop]

jobs:
  build:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: 'actions/checkout@v4.1.1'

      - name: 'Setup Node.js'
        uses: 'actions/setup-node@v4.0.0'
        with:
          node-version: 'lts/*'
          cache: 'npm'

      - name: 'Install dependencies'
        run: 'npm clean-install'

      - name: 'Build'
        run: 'npm run build'
