name: 'Release'

on:
  push:
    branches: [master, beta]

jobs:
  release:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: 'actions/checkout@v3.5.2'
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: 'Setup Node.js'
        uses: 'actions/setup-node@v3.6.0'
        with:
          node-version: 'lts/*'
          cache: 'npm'

      - name: 'Install dependencies'
        run: 'npm clean-install'

      - name: 'Build'
        run: 'npm run build'

      - run: 'npm run build:typescript'

      - name: 'Release'
        run: 'npm run release'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
